{% extends 'base.html' %}

{% block content %}
<!-- About Slider Area Start Here -->
<div class="about-slider-area">
    <div class="container">
        <h2 class="title-center">Vision</h2>
        <p class="sub-title-full-width">To be a renowned Electrical and Electronic Engineering department for teaching, research and innovation.
            Mission</p>
        
            <h2 class="title-center">Mission</h2>
            <p class="sub-title-full-width">
                To produce high quality graduates with knowledge and relevant skills to meet the demand of the local as well as the global market.
                <br>
                To create an excellent environment for partnership, research and development activities in collaboration with academia and industry.
                <br>
                To develop communication and leadership skills in graduates with high values and morals.
            </p>
    </div>
</div>
<!-- About Slider Area End Here -->
{% endblock content %}