{% extends 'base.html' %}

{% block content %}
<!-- About Slider Area Start Here -->
<div class="about-slider-area">
    <div class="container">
        <h2 class="title-default-left-bold title-bar-high">Notices</h2>
        <table class="table table-striped table-primary">
            <thead>
                <tr>
                    <th>Si No</th>
                    <th>Title</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{notice.title}}</td>
                    <td><a href="{{ MEDIA_URL }}/media/{{ notice.file }}"><i class="fa-solid fa-link"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- About Slider Area End Here -->
{% endblock content %}