{% extends 'base.html' %}

{% block content %}
<!-- Inner Page Banner Area Start Here -->
<!--<div class="inner-page-banner-area" style="background-image: url('img/banner/5.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>News Details</h1>
            <ul>
                <li><a href="#">Home</a> -</li>
                <li>Details</li>
            </ul>
        </div>
    </div>
</div>-->
<!-- Inner Page Banner Area End Here -->
<!-- Research Details Page Area Start Here -->
<div class="research-details-page-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="row research-details-inner">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h2 class="title-default-left-bold title-bar-high"><a href="#">{{content.title}}</a></h2>
                        <p>{{content.body | safe}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="sidebar">
                    
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title">Other Projects</h3>
                            <div class="sidebar-latest-research-area">
                                <ul>
                                    {% for post in posts %}
                                    <li>
                                        <div class="latest-research-content">
                                            <a href="{% url 'web:research' id=post.id %}"><b>{{ post.title }}</b></a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Research Details Page Area End Here -->
{% endblock content %}